# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Yolo8Sharp/FileContentIndex/a287514b-349b-46fd-b5c1-62edbc431f87.vsidx
/Yolo8Sharp/Detection.cs
/Yolo8Sharp/IPredictor.cs
/Yolo8Sharp/Label.cs
/Yolo8Sharp/LabelKind.cs
/Yolo8Sharp/packages.config
/Yolo8Sharp/Prediction.cs
/Yolo8Sharp/PredictorBase.cs
/Yolo8Sharp/Utils.cs
/Yolo8Sharp/Yolov5.cs
/Yolo8Sharp/Yolov8.cs
/Yolo8Sharp/bin/Debug
/Yolo8Sharp/Engine
/Yolo8Sharp/obj/Debug
/Yolo8Net/bin/Debug/net6.0-windows/model
/.vs/Yolo8Sharp
/packages/Microsoft.ML.OnnxRuntime.1.18.1
/packages/Microsoft.ML.OnnxRuntime.Gpu.1.18.1
/packages/Microsoft.ML.OnnxRuntime.Gpu.Linux.1.18.1
/packages/Microsoft.ML.OnnxRuntime.Gpu.Windows.1.18.1
/packages/Microsoft.ML.OnnxRuntime.Managed.1.18.1
/packages/SixLabors.ImageSharp.3.1.4
/packages/System.Buffers.4.5.1
/packages/System.Memory.4.5.5
/packages
/Yolo8Net/bin/Debug/net6.0-windows
/Yolo8Net/obj
/Yolo8Net/Yolo8Net.csproj.user
/Yolo8Python/venv
/Yolo8Python/bus.jpg
/Yolo8Python/yolov8n.pt
/Yolo8Python/yolov8n.txt
